<ion-content>
  <div id="map_canvas">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon src="../../assets/resources/mainbtn.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <!-- Btn Atropello -->
        <ion-fab-button (click)="report('atropello')">
          <ion-icon src="../../assets/resources/atropello.svg"></ion-icon>
        </ion-fab-button>

        <!-- Btn Disparos -->
        <ion-fab-button (click)="report('disparos')">
          <ion-icon src="../../assets/resources/disparos.svg"></ion-icon>
        </ion-fab-button>

        <!-- Btn Choque -->
        <ion-fab-button (click)="report('choque')">
          <ion-icon src="../../assets/resources/choque.svg"></ion-icon>
        </ion-fab-button>

        <!-- Btn Robo -->
        <ion-fab-button (click)="report('robo')">
          <ion-icon src="../../assets/resources/choque.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
