<mat-drawer-container class="container">
    <mat-drawer #drawer class="side-nav" >
        <div class="app-title" (click)="drawer.toggle()">
            <h1>ReportApp</h1>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
                <button mat-icon-button class="app-title-open" (click)="drawer.toggle()">
                        <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
                      </button>
    </div>
    <router-outlet></router-outlet>
</mat-drawer-container>
