<agm-map class="map-view" [latitude]="19.249103" [longitude]="-103.697460">

  <agm-marker 
  *ngFor="let incident of incidents"
  [latitude]="incident.coords.latitude"
  [longitude]="incident.coords.longitude"
  (markerClick)="selectIncident(incident)"
  [iconUrl]="
  {
    url: './assets/images/markers/'+ incident.event + '.png',
    scaledSize: {
      width: 40,
      height: 60
    }
  }"
  ></agm-marker>
</agm-map>
<app-incident [@showDetails]="details" [incident]="selectedIncident">
</app-incident>